chardet==2.3.0
cupshelpers==1.0
decorator==4.0.9
flake8==2.5.4
ipython==4.1.2
ipython-genutils==0.1.0
louis==2.6.5
mccabe==0.4.0
oauthlib==1.0.3
packaging==16.6
path.py==8.1.2
pep8==1.7.0
pexpect==4.0.1
pickleshare==0.5
ptyprocess==0.5.1
pycups==1.9.73
pycurl==7.43.0
pyflakes==1.1.0
pygobject==3.18.2
pyparsing==2.1.1
pyxdg==0.25
requests==2.9.1
requests-oauthlib==0.6.1
simplegeneric==0.8.1
six==1.10.0
team==1.0
traitlets==4.1.0
twitter-application-only-auth==0.3.3
urllib3==1.26.5
virtualenv==13.1.2
